# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:</p>
    1. Python</p>
    2. R</p>
    3. Julia</p>

Some of the commonly used libraries used by Data Scientists include:</p>
1. NumPy</p>
2. Pandas</p>
3. Seaborn</p>

|Data Science Tools|
|--- |
|Jupyter Notebooks|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives:__
- List popular languages for Data Science
- Basic arithmetic operations
- Use of markdown cells

## Author
Flavie